# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project f  iles
.idea
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
/.idea/
/.idea/misc.xml
/.idea
/*.iml
/target/
